.heroOne {

    padding-top: 15rem;
    padding-bottom: 0rem;
    @include breakPointsDown(small){
        padding-top: 10rem;
    }
    @include breakPointsDown(large){
        padding-bottom: 20rem;
    }

    h1 {
        text-align: center;
        color: $veryDarkBlue;
        font-size: 4rem;
        font-weight: 500;
        @include breakPointsDown(small){
            font-size: 3rem;
            margin-bottom: -2rem;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // font-weight: 900;
        position: relative;
        top: -10rem;
        @include breakPointsDown(large){
            flex-direction: column;
            position: relative;
            top: 7rem;
        }


        .des-img{
            position: relative;
            right: -25rem;

            @include breakPointsDown(large){
                display: none;
            }
        }
        .mob-img {
            display: none;
            @include breakPointsDown(large){
                display: block;
                width: 65rem;
            }
            @include breakPointsDown(medium){
                width: 40.4rem;
            }
        }

        .info {
            color: $veryDarkBlue;
            padding-left: 15rem;
            @include breakPointsDown(large){
                text-align: center;
                padding-left: 0rem;
                padding-top: 4rem;
            }

            .first {
                margin-bottom: 9rem;
            }

            h2 {
                margin-bottom: 2.5rem;
                @include breakPointsDown(large){
                    font-size: 4rem;
                }
                @include breakPointsDown(small){
                    width: 300px;
                    font-size: 3rem;
                    margin: 0 auto;
                    margin-bottom: 2.5rem;
                }
            }
            p {
                opacity: .7;
                width: 410px;
                font-size: 1.2rem;
                line-height: 2.5rem;
                word-spacing: .3rem;
                @include breakPointsDown(large){
                    width: 800px;
                }
                @include breakPointsDown(small){
                    opacity: .6;
                    font-size: 1.6rem;
                    margin: 0 auto;
                    width: 32rem;
                }
            }
        }
    }

}